{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h3 class="my-5 font-weight-normal">Modifier votre mot de passe</h3>

            {{ include('userForm/_formChangePassword.html.twig', {'button_label': 'Envoyer'}) }}
        </div>
    </div>
{% endblock %}
