<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3" aria-label="Third navbar example">
	<div class="container-fluid text-center">
		<a class="navbar-brand" href="{{ path('app_trajet_index') }}">Ôbled</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<p class="text-muted">
			<small>&copy;
				{{ 'now'|date('Y') }}
				&middot;
			</small>
		</p>
	</div>
</nav>
