{% extends 'base.html.twig' %}

{% block title %}
	{% if trajet.id %}
		Modifier votre Trajet !
	{% else %}
		New Trajet !
	{% endif %}
{% endblock %}

{% block body %}

	{% if trajet.id %}
		<h1>Modifier votre Trajet</h1>
		{{ include('trajet/_form.html.twig', {'button_label': 'Update'}) }}
	{% else %}
		<h1>Create new Trajet</h1>
		{{ include('trajet/_form.html.twig') }}
	{% endif %}

	<a href="{{ path('app_trajet_index') }}">back to list</a>
{% endblock %}
